@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* .custom-gradient-range::-webkit-slider-runnable-track {
  height: -8px;
  background: linear-gradient(
    to right,
    #2ae4e0 0%,
    #bc13fe var(--fill-width, 0%),
    #d3d3d3 var(--fill-width, 0%),
    #d3d3d3 100%
  );
  border-radius: 4px;
}
.custom-gradient-range::-moz-range-track {
  height: 8px;
  background: linear-gradient(90deg, #2ae4e0 0%, #bc13fe 100%);
  border-radius: 4px;
}
.custom-gradient-range::-ms-fill-lower {
  background: linear-gradient(90deg, #2ae4e0 0%, #bc13fe 100%);
}
.custom-gradient-range::-ms-fill-upper {
  background: linear-gradient(90deg, #2ae4e0 0%, #bc13fe 100%);
}
.custom-gradient-range {
  background: transparent;
} */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #4facfe 0%,
    #00f2fe var(--fill-width, 0%),
    #ccc var(--fill-width, 0%),
    #ccc 100%
  );
  outline: none;
  transition: background 450ms ease-in;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #4facfe;
  cursor: pointer;
  margin-top: -5px; /* Align thumb with track */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #4facfe;
  cursor: pointer;
}
